<header class ="header-page">
<nav class="grey darken-1">
  <div class ="nav-wraper"> 
   <div class = "row">
    <div id="head-button"  class ="col s4"><h5>Tasks</h5></div>
    <div class ="col s8"></div>    
   </div>
  </div>  	
</nav>
</header>
 
<footer class ="footer-page">
 <nav  class="grey darken-1" > 
   <div class = "button-panel">	
	<div class ="btn-group"><button id="list-btn" type="button" class="btn" >List</button></div>
	<div class ="btn-group"><button id="shed-btn" type="button" class="btn">Shedule</button></div>
	<div class ="btn-group"><button id="add-btn" type="button" class="btn">Add</button></div>
 	<div class ="btn-group"><button id="time-btn" type="button" class="btn">Time</button></div>
   </div>	 	
 </nav>
</footer>
<div id="main" class = "container" ></div>