

#screen {
 width:100%;
 border:2px solid black;
 min-height: 400px;
 min-width: 300px;
 height: 100%;
 overflow: hidden;
}


.preloader-wrapper{

	margin-top:50%;
}



/* ---- botoom footer buttons ----*/


.header-page nav {
 width:100%;
 position:fixed;
 top: 0;
 left:0;
 border: 1px solid black;
 border-width: 2px 2px 1px 2px;
 height: 5em;
 line-height: 4.5em;
}

/* ---- end ---- */

/* ---- botoom footer buttons ----*/

.footer-page nav {
 width:100%;
 height: 5em;
 line-height: 4.5em;
 position:fixed;
 bottom: 0;
 left:0;
 border: 1px solid black;
 border-width: 1px 2px 2px 2px;
}


.button-panel {
	display:table;
	width: 96%;
	margin: auto;
	text-align: center;
}

.btn {

 background-color:white;
 color:black;
 border:2px solid black;

}

.btn-group {
 display: table-cell;
}

.btn-group .btn {
	border-width: 2px 1px 2px 1px;
	padding:0px;
	border-radius: 0px;
	margin: 0px;
	width: 100%;
	height: 80%
}

 .button-panel .btn-group:first-child .btn {

	border-width: 2px 1px 2px 2px;
	border-radius:15px 0px 0px 15px;

}

.button-panel .btn-group:last-child .btn {
   border-width: 2px 2px 2px 1px;
   border-radius:0px 15px 15px 0px;

}

/* ---- end ----*/

/* ---- main ----*/

#main {

	     position: absolute;
	     width:100%;
	     top: 5em;
	     bottom: 5em;
	     text-align: center;  
	}