<div class="scroll-view-body container addform ">
	<form class = "addform">
		 <div class="input-grp">		 
		  <input type="text" id="title" placeholder="Task Name">          
		 </div>	
		 <div id="timepicker" class="input-grp">
	   	     <i class="small mdi-action-schedule prefix" ></i><input id="time" type="time" class="input-field" placeholder="Duration">
		 </div>		  
		
		 <div id="datepicker" class="input-grp">
		  <i class="small mdi-action-today prefix"></i><input id="deadline" type="date" class="input-field datepicker" placeholder="04/22/2012">
		 </div>	
		<div class = "input-grp">
		  <textarea id="text" class="form-control task_text">Notes</textarea>
		</div>
	</form>
		<button class = "btn add-task">Shedule Task</button>	
		
</div>